@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/home.css" rel="stylesheet" />
<div class="background-wrap">
    <video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted">
        <source src="~/Content/Video/Audience.mp4" type="video/mp4" />
        Video not supported
    </video>
    <div class="content"></div>
</div>
<div class="homestyles">
    <div class="jumbotron2 jumbotron"></div>
    <div class="jumbotron">
        <h1>Welcome to MEDEC</h1>
        <p class="lead">We strive to be a complete healthcare system dedicated to providing the best comprehensive care possible to the area that we serve. Our vision is to Enhance the lives of our patients, families and area communities through High Quality Healthcare and Services."</p>
        <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Nursing</h2>
            <p>
                Provide high quality care that is measured and continuously improved and individualized care that exceeds expectations of those we serve.
            </p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Staff</h2>
            <p>Meet the doctors and boarding staff at medec centers all around the country. You'll find them to be highly qualified, professional and caring.</p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Services</h2>
            <p>Be aware of your current health status and actively take steps to maintain or improve it so that you can lead healthier and more productive lives.</p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
